
# Checkpoint of pre-trained ResNet18
weights/tenpercent_resnet18.ckpt

# Bash script for running experiment
gsubmit.sh
run.sh

# Wandb
wandb
run_sweep_*.py
sweep_cv.yaml

# Data
preprocess/data

# Logging files
logs
slurm*
results

# Others
test.ipynb
.vscode
__pycache__

input/*
output/*